/* ================================ */
/* Left Side */
/* =============================== */

.intro .i-left .i-name > span{
  display: block;
  font-size: 2rem;
  font-weight: 700;
}
.intro .i-left .i-name > span:last-of-type{
  color: var(--orange);
  font-size: 3rem;
  line-height: 1.5;  
}

.intro .i-left .i-name p{
  max-width: 500px;
  font-size: 1em;
  font-weight: 300;
  color: var(--gray);
}

.intro .i-left  .i-icons > img{
  transform: scale(.75);
  cursor: pointer;
}

/* ================================ */
/* Right Side */
/* =============================== */


.i-right > * {
  position: static;
}

/* ================================ */
/* The Boy And The Vectors */
/* =============================== */
.i-right img{
  height: 0;
  width: 0;
}
@media (min-width:1140px){
  .i-right {
    position: relative;
    flex: 1;  
  }
  .i-right > * {
    
    position: absolute;
    top: 0;
    left: 0;
  }
  .i-right img{
    height: auto;
    width: auto;
  }
  .i-right img[alt='vector1'] {
    transform: rotate(220deg) scale(0.5);
    top: -10%;
  }
  .i-right img[alt='vector2'] {
    transform: scale(.5);
    top: -10%;
  }
  .i-right img[alt='boy'] {
    left: 40%;
    transform: scale(1.2);
  }
  .i-right img[alt='glassesimoji'] {
    transform: scale(.5);
  }
}

/* ===================================
  Floating Items
=================================== */

.crown{
  right: 0;
  left: auto;
  border-radius: 15px;
  background: #ffffff;
}
.thumbup{
  top: auto;
  bottom: 25%;
  left: 25%;
  background: #ffffff;
  border-radius: 15px;
}
.glassesimoji .float{
  display: block;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  height: auto;
}
.glassesimoji .float img{
  transform: scale(.5);
}




/* ===================================
  Blur Effect
=====================================*/

